<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      {% block title %}
        {{page_name}}
        ::
        {{site_name}}
      {% endblock %}
    </title>
    {% block head %}
      {% include 'digraph/partials/head.twig' %}
    {% endblock %}
  </head>
  <body class="template-{{package.template}}">
    {% block admin %}
      {% if config.actions.enabledforguests or cms.helper('users').id() %}
        <div class="digraph-actionbar inactive" data-id="{{package.url.noun}}">
          {% if package.noun %}
            <div class="digraph-actionbar-title">{{package.noun().url().html()|raw}}</div>
          {% endif %}
        </div>
      {% endif %}
    {% endblock %}

    {% block banner %}
      {% include 'digraph/partials/banner.twig' %}
    {% endblock %}

    {% block navigation %}
      {% include 'digraph/partials/mainmenu.twig' %}
      {% include 'digraph/partials/breadcrumb.twig' %}
      {% include 'digraph/partials/notifications.twig' %}
    {% endblock %}

      {% block body %}
        {% if package.cms.helper('blocks').areaFilled('template-extracolumn') %}
          <div class="layout-column-wrapper cols-2">
        {% else %}
          <div class="layout-column-wrapper cols-1">
        {% endif %}

        <div id="content" role="main">
          {% if package.cms.helper('blocks').areaFilled('template-content-before') %}
            <div class="template-blockarea template-content-before">
              {{package.cms.helper('blocks').block('template-content-before')|raw}}
            </div>
          {% endif %}
          <article>
            <h1>{{page_title}}</h1>
            {% if page_title != package.url.title %}
              <h2>{{package.url.title}}</h2>
            {% endif %}
            <div class="package-response-content">
              {{package.response.content|raw}}
            </div>
          </article>
          {% if package.cms.helper('blocks').areaFilled('template-content-after') %}
            <div class="template-blockarea template-content-after">
              {{package.cms.helper('blocks').block('template-content-after')|raw}}
            </div>
          {% endif %}
        </div>

        {% if package.cms.helper('blocks').areaFilled('template-extracolumn') %}
          <div class="template-blockarea template-extracolumn">
            {{package.cms.helper('blocks').block('template-extracolumn')|raw}}
          </div>
        {% endif %}

      </div>
    {% endblock %}

    {% block footer %}
      {% if package.cms.helper('blocks').areaFilled('template-footer-before') %}
        <div class="template-blockarea template-footer-before">
          {{package.cms.helper('blocks').block('template-footer-before')|raw}}
        </div>
      {% endif %}
      {% include 'theme/partials/footer.twig' %}
      {% if package.cms.helper('blocks').areaFilled('template-footer-after') %}
        <div class="template-blockarea template-footer-after">
          {{package.cms.helper('blocks').block('template-footer-after')|raw}}
        </div>
      {% endif %}
    {% endblock %}

    {% include 'digraph/partials/foot.twig' %}
  </body>
</html>
