<div class="digraph-paginated">
  <div class="digraph-page-meta">
    Displaying
    {{start}}-{{end}}
  of
  {{count}}
</div>
<div class="digraph-paginated-results">
  {% for item in results %}
    {{item|raw}}
  {% endfor %}
</div>
{% if pages > 1 %}
  <div class="digraph-paginated-pages">
    {% for pl in pagelinks %}
        {{pl|raw}}
    {% endfor %}
  </div>
{% endif %}
</div>
