<div class="digraph-paginated">
  {% if pages > 1 %}
    <div class="digraph-paginated-meta">
      {{start}} through {{end}} of {{count}}
    </div>
  {% endif %}

  <div class="digraph-paginated-results">
    {{results|raw}}
  </div>

  {% if pages > 1 %}
    <div class="digraph-paginated-pages">
      {% if page > 2 %}
        <span class="first-page-link">
          {{paginator.pagelink(1,'<i class="fas fa-fast-backward"></i>')|raw}}
        </span>
      {% endif %}
      {% if page > 1 %}
        <span class="previous-page-link">
          {{paginator.pagelink(page-1,'<i class="fas fa-step-backward"></i>')|raw}}
        </span>
      {% endif %}
      {% for p in (page - 5)..(page + 5) %}
        {{paginator.pagelink(p)|raw}}
      {% endfor %}
      {% if page < pages %}
        <span class="next-page-link">
          {{paginator.pagelink(page+1,'<i class="fas fa-step-forward"></i>')|raw}}
        </span>
      {% endif %}
      {% if page < pages - 1 %}
        <span class="last-page-link">
          {{paginator.pagelink(pages,'<i class="fas fa-fast-forward"></i>')|raw}}
        </span>
      {% endif %}
    </div>
  {% endif %}
</div>
