<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <title>
      {% block title %}
        {{page_name}}
        ::
        {{site_name}}
      {% endblock %}
    </title>

    {% block head %}
      {% include 'partials/head.twig' %}
    {% endblock %}

    {% for url in cms.helper('templates').cssUrls() %}
      <link rel="stylesheet" href="{{url}}">
    {% endfor %}

    {% for url in cms.helper('templates').headJSUrls() %}
      <script src="{{url}}"></script>
    {% endfor %}

    {% if package.noun.dso.id %}
    <script>digraph.noun = "{{package.noun.dso.id}}";</script>
    {% endif %}

  </head>

  <body class="template-{{package.template}}">
