<article class="digraph-gallery-file">

  <div class="file">
    {% if file.isImage %}
      <img src="{{file.imageUrl('gallery-full')}}">
    {% else %}
      {{file.metaCard|raw}}
    {% endif %}
  </div>

  <div class="meta">
    <h1><a href="{{file.noun.url('gallery-file',{f:file.uniqid()})|raw}}">{{file.name}}</a></h1>
    <dl>

      <dt>Posted in</dt>
      <dd>{{file.noun.url().html|raw}}</dd>

      {% if exif.DateTime %}
        <dt>Date taken</dt>
        <dd>{{exif.DateTime}}</dd>
      {% endif %}

      {% if exif.Make or exif.Model %}
        <dt>Camera</dt>
        <dd>{{exif.Make}} {{exif.Model}}</dd>
      {% endif %}

      {% if exif.ExposureTime %}
        <dt>Exposure time</dt>
        <dd>{{exif.ExposureTime}}</dd>
      {% endif %}

      {% if exif.COMPUTED.ApertureFNumber %}
        <dt>Aperture</dt>
        <dd>{{exif.COMPUTED.ApertureFNumber}}</dd>
      {% endif %}

      {% if exif.ISOSpeedRatings %}
        <dt>ISO</dt>
        <dd>{{exif.ISOSpeedRatings}}</dd>
      {% endif %}

      {% if exif.FocalLengthIn35mmFilm %}
        <dt>35mm eq. focal length</dt>
        <dd>{{exif.FocalLengthIn35mmFilm}}mm</dd>
      {% endif %}

    </dl>
  </div>

</article>
